body {
	 background-color: ;
	 background-image: url(fondo.jpg);
	 background-repeat:no repeat;
	 background-size: cover;
	 font-family: verdana;
	 font-style: blue;
}
 
 section{
 	font-size:24px;
 
 }
